# This is the Project to analyze the running invervention dataset

## Dataset:
    0. Data source: [https://openneuro.org/datasets/ds003799/versions/1.0.0]( Openneuro)
    1. Imaging data MRI *3 sessions;
    2. Depression measures: Description: German version of the Center for Epidemiological Studies Depression Scale(CES-D). Hautzinger, M., Bailer, M., Hofmeister, D., & Keller, F. (2012). Allgemeine Depressionsskala (ADS). Manual (2. Auflage). Göttingen: Hogrefe Verlag GmbH. This self-assessing scale comprises 20 items covering depressive symptoms in the emotional, motivational, cognitive, somatic, and motoric domain. Participants had to indicate the extent to which the given conditions apply to them in the last week on a four-point scale ranging from “infrequent” to “the most time”.
    3. 

## Proposed analysis:
    Pre-registration: https://osf.io/yg5bu/
    1. Hypothesis testing
        1. Intervention effects;
        2. Post intervention effects;
        3. 
    2. Exploratory analysis
        1. structrual cov 
    
## Gitrepo
    https://github.com/Vincent-wq

## paper draft

In [1]:
# libs and envs
import sys
proj_path_str='/scratch/interventionMDD'
sys.path.append(proj_path_str)
from pathlib import Path
import pandas as pd
import numpy as np

# main PATH
main_dir = Path(proj_path_str)
data_dir = main_dir / 'data' 
fig_dir =  main_dir / 'figs' 

# Tabular data files 
participant_file = data_dir / 'participants.tsv'  # Inormation from download database.
mdd_score_file   = data_dir / 'phenotype_CES-D.tsv'  # Inormation from download database.

# brain measure data save file 
des_sv_file = data_dir / 'fs_measures_Des.csv'     # Brain measures in Des atlas.
dkt_sv_file = data_dir / 'fs_measures_DKT.csv'     # Brain measures in DKT atlas.
des_hippo_sv_file = data_dir / 'fs_hippo_Des.csv'  # Hippocampus measures in Des atlas.
dkt_hippo_sv_file = data_dir / 'fs_hippo_DKT.csv'  # Hippocampus measures in DKT atlas. 

des_hippo_df = pd.read_csv(des_hippo_sv_file, sep=',')
dkt_hippo_df = pd.read_csv(dkt_hippo_sv_file, sep=',')

# read subject demnographics 
sub_data = pd.read_csv(participant_file, sep='\t')
sub_data.index=sub_data['participant_id']
sub_data=sub_data.drop(columns=['participant_id']).copy()
sub_col_list = ['participant_id', 'group', 'age', 'sex', 'size', 'weight'];

# read CES-D score
mdd_data  = pd.read_csv(mdd_score_file, sep='\t')
mdd_data.index = mdd_data['participant_id']
mdd_data=mdd_data.drop(columns=['participant_id']).copy()
moca_list = ['participant_id', 'CES-D_1', 'CES-D_2', 'CES-D_3'];

##join data
data_df = sub_data.join(mdd_data, on = ['participant_id'], how='left').copy()

In [4]:
dkt_hippo_df.head(5)

,Unnamed: 0,session,Left_Hippocampus,Right_Hippocampus,wm_lh_parahippocampal,wm_rh_parahippocampal,lh_parahippocampal_volume,rh_parahippocampal_volume,lh_parahippocampal_thickness,rh_parahippocampal_thickness,lh_parahippocampal_area,rh_parahippocampal_area
0,sub_season101,1,4359.1,4567.2,1424.2,1354.6,2024.0,2283.0,2.606,2.853,692.0,657.0
1,sub_season102,1,4139.4,4520.5,1559.9,1705.6,2391.0,2231.0,2.894,2.695,706.0,704.0
2,sub_season103,1,3683.2,3592.1,1252.1,1356.0,2028.0,1959.0,3.155,2.873,547.0,566.0
3,sub_season104,1,4139.8,4066.6,1585.1,1409.9,2829.0,2284.0,3.300,2.946,684.0,627.0
4,sub_season105,1,3778.6,3581.8,1338.1,1627.9,2102.0,2514.0,2.724,2.543,682.0,814.0

In [3]:
data_df.head(5)

                group  age sex  size  weight  CES-D_1  CES-D_2  CES-D_3
participant_id
sub-season101       1   22   F  1.62      61     27.0     12.0     17.0
sub-season102       1   20   M  1.75      60     12.0      9.0     13.0
sub-season103       1   20   F  1.71      63     20.0      0.0     12.0
sub-season104       1   23   F  1.69      63     18.0      8.0     12.0
sub-season105       1   24   F  1.60      62      6.0     12.0      9.0